<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud - Login</title>
  <link rel="stylesheet" th:href='@{/css/logo-container.css}'>
  <link rel="stylesheet" th:href='@{/css/registration.css}'>
</head>
<body>

<div class="logo-container">
  <img th:src='@{/images/taco-cloud.png}' alt='Taco Cloud logo'/>
  <h1>Login</h1>
</div>

  <div th:if="${error}">
    Unable to login. Check oyur username and password.
  </div>

  <p>No account? Click<a th:href="@{/register}"> here </a>to create a new account.</p>
  <form method="post" th:action="@{/login}" id="loginForm">
    <div class="grid">
      <div class="reg-field">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" th:value="${username}"/><br />
      </div>

      <div class="reg-field">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" th:value="${password}"/> <br />
      </div>
    </div>
    <input type="submit" value="Login" />
  </form>


</body>
</html>